// Devide `_val` by 2.
_d(_val)
	(_val / 2)

// Clear the float on any element.
clearfix()
	&:after
		display table
		clear both
		content ''

// give 100% width and height
force100()
	width 100%
	height 100%
	min-width 100%
	min-height 100%
