.b-about
	width 83.3333%
	min-height 90%
	margin auto
	padding 0 15px 80px
	& h1
	& h2
	& h3
	& h4
	& h5
	& h6
		margin-top 18px
		margin-bottom 9px
		font-family "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
		font-weight 300
		line-height 1.1
		color #444
	& h1
		font-size 33px
	& h2
		font-size 27px
	& h4
		font-size 17px
	& p
		margin-bottom 9px
	& hr
		margin 18px 0
		border-width 1px 0px 0px
		border-style solid none none
		border-color #DDD -moz-use-text-color -moz-use-text-color
		-moz-border-top-colors none
		-moz-border-right-colors none
		-moz-border-bottom-colors none
		-moz-border-left-colors none
		border-image none
	& ul
		list-style-type disc
		list-style-position inside
		padding-left 40px
	& ol
		list-style-type decimal
		list-style-position inside
		padding-left 40px
	& ul ul
	& ol ul
		list-style-type circle
		list-style-position inside
		margin-left 15px
	& ol ol
	& ul ol
		list-style-type lower-latin
		list-style-position inside
		margin-left 15px
