* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-focus-ring-color: rgba(255,255,255,0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
body {
  font-size: 100%;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
a {
  background: transparent;
}
*:focus,
*:active,
*:hover {
  outline: 0;
}
hr {
  box-sizing: content-box;
  height: 0;
}
ol,
ul {
  list-style: none;
}
pre {
  -moz-tab-size: 4;
  tab-size: 4;
  white-space: pre-wrap;
}
q {
  quotes: '\201C' '\201D' '\2018' '\2019';
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button {
  overflow: visible;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
button,
input,
select[multiple],
textarea {
  background-image: none;
}
input,
select,
textarea {
  border-radius: 0;
  box-shadow: none;
}
input,
textarea {
  resize: none;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
[placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
}
[placeholder]:focus::-moz-placeholder {
  color: transparent;
}
[placeholder]:focus:-ms-input-placeholder {
  color: transparent;
}
[placeholder]:focus::placeholder {
  color: transparent;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}
body {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  padding-top: 50px;
  background: #fff;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 200;
  line-height: 1.42857;
  color: #777;
}
.main {
  width: 100%;
  height: 100%;
}
.b-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 2;
  overflow: hidden;
  background: #373737;
  text-align: center;
  color: #fff;
}
.b-footer:after {
  display: table;
  clear: both;
  content: '';
}
.b-footer a,
.b-footer a:link,
.b-footer a:visited,
.b-footer a:active {
  color: #d9230f;
  text-decoration: none;
}
.b-footer a:hover,
.b-footer a:focus {
  color: #91170a;
  text-decoration: underline;
}
.b-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  min-height: 40px;
  padding: 0 15px;
  z-index: 100;
  overflow: hidden;
  background: #373737;
  border-color: #eee;
  border-width: 0 0 1px;
  color: #fff;
}
.b-header:after {
  display: table;
  clear: both;
  content: '';
}
.b-header__logo {
  height: 54px;
  float: left;
}
.b-header__logo:hover {
  cursor: pointer;
  opacity: 0.7;
}
.b-header__logo a {
  height: 40px;
  padding: 11px 15px;
}
.b-header__logo img {
  display: block;
  height: 40px;
  margin-top: -12px;
}
.b-header__nav {
  float: right;
}
.b-header__nav ul {
  list-style: none;
}
.b-header__nav-item {
  position: relative;
  display: inline-block;
}
.b-header__nav-item img {
  vertical-align: middle;
}
.b-header__nav-item a,
.b-header__nav-item a:link,
.b-header__nav-item a:visited,
.b-header__nav-item a:hover,
.b-header__nav-item a:active {
  display: block;
  height: 54px;
  padding: 10px 15px;
  line-height: 29px;
  text-decoration: none;
  font-size: 13px;
  color: #fff;
}
.b-header__nav-item a:hover {
  background: #cc4748;
}
.b-about {
  width: 83.3333%;
  min-height: 90%;
  margin: auto;
  padding: 0 15px 80px;
}
.b-about h1,
.b-about h2,
.b-about h3,
.b-about h4,
.b-about h5,
.b-about h6 {
  margin-top: 18px;
  margin-bottom: 9px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.1;
  color: #444;
}
.b-about h1 {
  font-size: 33px;
}
.b-about h2 {
  font-size: 27px;
}
.b-about h4 {
  font-size: 17px;
}
.b-about p {
  margin-bottom: 9px;
}
.b-about hr {
  margin: 18px 0;
  border-width: 1px 0px 0px;
  border-style: solid none none;
  border-color: #ddd -moz-use-text-color -moz-use-text-color;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
}
.b-about ul {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 40px;
}
.b-about ol {
  list-style-type: decimal;
  list-style-position: inside;
  padding-left: 40px;
}
.b-about ul ul,
.b-about ol ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 15px;
}
.b-about ol ol,
.b-about ul ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 15px;
}
.b-main {
  min-height: 90%;
  margin: auto;
  padding-bottom: 80px;
}
.b-main__links {
  position: fixed;
  right: 0;
  z-index: 100;
  text-align: center;
  color: #fff;
}
.b-main__login-button {
  display: inline-block;
  top: 54px;
  margin-bottom: 0;
  padding: 8px 12px;
  border-top: 0 none;
  border-radius: 0 0 0 10px;
  background-image: linear-gradient(#e08b27, #d9831f 6%, #cc7b1d);
  background-repeat: no-repeat;
  background-color: #d9831f;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-filter: none;
  filter: none;
  vertical-align: middle;
  text-decoration: none;
  white-space: nowrap;
  font-weight: normal;
}
.b-main__link-block {
  width: 125px;
  padding: 5px;
  border-width: 1px 0px 1px 1px;
  border-style: solid none solid solid;
  border-color: #000 -moz-use-text-color #000 #000;
  border-top-colors: none;
  border-right-colors: none;
  border-bottom-colors: none;
  border-left-colors: none;
  border-image: none;
  border-radius: 10px 0px 0px 10px;
  background: transparent linear-gradient(to bottom, #45484d 0px, #000 100%) repeat scroll 0% 0%;
  font-size: 10px;
}
.b-main__link-block a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
.b-main__link-block img {
  width: 115px;
  vertical-align: middle;
  border: 0px none;
}
.b-main__analyst-backlink {
  top: 95px;
}
.b-main__opskins {
  top: 162px;
}
.b-main__opskins img {
  width: 95%;
}
.b-main__content {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.b-main__content > div {
  width: 50%;
  float: left;
}
.b-main__alert {
  margin-top: 15px;
  border: 0px none;
  background-color: #d9edf7;
  color: #3a87ad;
  padding: 15px;
  margin-bottom: 18px;
  border-radius: 4px;
}
.b-main__alert b {
  font-weight: bold;
}
.b-main__queue-message {
  font-weight: bold;
}
.b-main__activity-status {
  height: 299px;
}
.b-tos {
  width: 83.3333%;
  min-height: 90%;
  margin: auto;
  padding: 0 15px 80px;
}
.b-tos h1,
.b-tos h2,
.b-tos h3,
.b-tos h4,
.b-tos h5,
.b-tos h6 {
  margin-top: 18px;
  margin-bottom: 9px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.1;
  color: #444;
}
.b-tos h1 {
  font-size: 33px;
}
.b-tos h2 {
  font-size: 27px;
}
.b-tos p {
  margin-bottom: 9px;
}
