.b-footer
	position fixed
	bottom 0
	right 0
	left 0
	width 100%
	padding 20px
	clearfix()
	z-index 2
	overflow hidden
	background #373737
	text-align center
	color #fff
	& a
	& a:link
	& a:visited
	& a:active
		color #D9230F
		text-decoration none
	& a:hover
	& a:focus
		color #91170a
		text-decoration underline
