.b-about
  h1 About
  p We are excited to introduce CS:GO Jackpot - a CS:GO Skin jackpot.
  hr
  h4 What is CS:GO Jackpot?
  | Basically, players deposit skins, once a pre-defined threshold is reached a depositer will be choosen, with odds based on the values of it"s deposited skin, and awarded with ALL the skins in the pool.
  br
  | So, how does it work?
  br
  | It"s quite simple:
  br
  ul
    li You deposit a skin.
    li
      | We will assign you a ticket for each U.S.Dollar cent your skin is worth - if you deposit a 0.1$ skin you"ll get 10 tickets, with a 1$ skin you"ll get 100 tickets, with a 10$ - 1000, and so on.
    li
      | When the
      span.round-limit-value 50
      | skins threshold is reached we gather all the awarded tickets and randomly pick one. This player will receive all the skins in the prize pool! (Note that the threshold will adjust based on current traffic)
  hr
  h4
    | The principle is simple: The higher the combined value of the skins you deposited are, the higher the chance of winning the whole pot!
  hr
  h4 Rules and Features:
  ol
    li
      | There are no deposit limits per player - each player can deposit any chosen number of skins.
    li
      | There are no price limits per skin - the price used for awarding tickets is fetched in real time from the Steam servers.
    li
      | If any skins enter the pool on the last deposit and the skins counter goes over the defined threshold, they will be considered as part of the current round since the user depositing them participated in the current and not in the preceding round.
    li
      | There is an house rake up to 5% on every round - this rake is calculated based on the total pool amount in U.S. Dollars and discounted in skins.
    li The deposits and withdrawals are instant.
  hr
  h4 Privacy:
  | Your Steam picture, username and profile link will be shown to other players after you deposited, and other players may know that you have won - all your steam profile informations at the moment of deposit may be recorded on our servers, we will never sell or share your personal data, ever.
  br
  | Are you feeling like a million skins today?
  br
  | Deposit now and win big!
  hr
  | Good Luck.
