extends ../layouts/default

block head
	- pageTitle = 'CS:GO Jackpot';
	- pageDescription = 'CS:GO Jackpot';
	- pageKeywords = 'CS, GO, Jackpot, GOJackpot, CSGOJackpot';

block content
	include ../blocks/main
