extends ../layouts/default

block head
	- pageTitle = 'CS:GO Jackpot';
	- pageDescription = 'A website where Players deposit skins, once a pre-defined threshold is reached a depositer will be choosen, with odds based on the values of it\'s deposited skin, and awarded with ALL the skins in the pool.';
	- pageKeywords = 'CS, GO, Jackpot, GOJackpot, CSGOJackpot';

block content
	include ../blocks/tos
