.b-footer
	footer
		| Copyright &#169; CSGOJackpot.com 2015 - &#160;
		a(href="https://steampowered.com", target="_blank") Powered by Steam
		| &#160; - &#160;
		a(href="https://www.facebook.com/csgojackpotdotcom", target="_blank") Facebook
		| &#160; - &#160;
		a(href="http://reddit.com/r/CSGOJackpot/", target="_blank") Reddit
		| &#160; - &#160;
		a(href="https://twitter.com/CSGOJackpotcom", target="_blank") Twitter
		| &#160; - &#160;
		a(href="/responsible-gambling", target="_blank") Responsible Gambling
		| &#160; - &#160;
		a(href="/provably-fair", target="_blank") Provably Fair
