.b-header
	.b-header__logo
		a(href="/")
			img(src="img/logo.png" alt="logo")
	.b-header__nav
		ul
			li.b-header__nav-item
				a(href="/") Home
			li.b-header__nav-item
				a(href="/about") About
			li.b-header__nav-item
				a(href="http://support.csgojackpot.com/") Support
			li.b-header__nav-item
				a(href="/tos") Terms of Service
			li.b-header__nav-item
				a.steam-auth(href="/auth/steam")
					img(src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_small.png" alt="Steam signin")
