head
	meta(charset='utf-8')
	// meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')

	block head
	title= pageTitle
	meta(name='description' content=pageDescription)
	meta(name='keywords' content=pageKeywords)

	block headStyles
	link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
	link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Nova+Square' rel='stylesheet' type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css')
	link(href='css/common.css' rel='stylesheet' type='text/css')

	script(src="libs/jquery/dist/jquery.min.js" type="text/javascript")
